{{ define "before-main" }}
  {{ $logoPath := printf "img/projects/%s.%s" .Params.logoslug .Params.logotype }}
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-two-fifths">
        {{ $project := newScratch }}
        {{ $logoPath | $project.Set "logo" }}
        {{ .Params.logotype | $project.Set "logotype" }}
        {{ partial "project-logo" $project }}
      </div>
      <div class="column is-two-fifths">
        <div class="is-size-4">{{ .Content }}</div>
      </div>
    </div>
  </section>
{{ end }}

{{ define "main" }}
  {{ $stories := sort .Paginator.Pages "Params.order" }}
  {{ $featured := first 1 (where $stories "Params.featured" true) }}
  {{ $pinned :=  first 2 (where ($stories | complement $featured) "Params.pinned" true) }}
  {{ $projectColor := .Params.color | default "#bbb" }}

  <section class="section">
    <article class="columns is-centered is-multiline">
      {{ with $featured }}
      <div class="column is-half" style="border: 3px solid {{ $projectColor }}">
        {{ range $page := $featured }}
          {{ partial "featured-story-tile.html" $page }}
        {{ end }}
      </div>
      {{ end }}
      {{ with $pinned }}
        <div class="column is-one-quarter is-ancestor" style="background:{{ $projectColor }}">  
          <div class="tile is-parent is-vertical">
            {{ range $page := . }}
              {{ partial "pinned-story-tile.html" $page }}
            {{ end }}
          </div>        
        </div>
      {{ end }}
    </article>
    <hr />
  </section>
{{ end }}

{{ define "extra-main" }}
  {{ $stories := sort .Paginator.Pages "Params.order" }}
  {{ $featured := first 1 (where $stories "Params.featured" true) }}
  {{ $pinned :=  first 2 (where ($stories | complement $featured) "Params.pinned" true) }}
  {{ $others := $stories | complement $featured $pinned }}
  {{ $paginator := .Paginate $others}}

  <section
    class="section columns is-centered is-multiline"
    data-ga-action="Project archive"
  >
    <div class="column is-three-fifths">
        
      <!-- Story list -->
      <div class="tile is-ancestor is-vertical">
        
        {{ range $page := $others }}
          {{ partial "tile-archive.html" $page }}
        {{ end }}
      </div>
      <!-- Pagination -->
      {{ if gt $paginator.TotalPages 0 }}
        <div class="level">
        {{ if $paginator.HasPrev }}
          <span class="level-item">
            <a
              class="button is-primary is-outlined has-text-weight-semibold"
              href="{{ .Paginator.Prev.URL }}"
            >← Newer</a>
          </span>
        {{ end }}
        {{ if $paginator.HasNext }}
          <span class="level-item">
            <a
              class="button is-primary is-outlined has-text-weight-semibold"
              href="{{ .Paginator.Next.URL }}"
            >Older →</a>
          </span>
        {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
