{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $featuredStory := where $news.RegularPages ".Params.suppress-featured" "!=" true | first 1 }}
{{ $related := where $news.RegularPages ".Params.special-report" true | complement $featuredStory}}
{{ $features := append $related $featuredStory }}
{{ $pages := $news.RegularPages | complement $featuredStory }}
{{ $unsortedProjects := where (where .Site.Sections "Params.type" "project") "Params.ispublished" true }}
{{ $projects := sort $unsortedProjects "Params.order" "desc" }}

{{ $bgImg := resources.Get "/img/bgs/fourth-estate-montage.png" }}
{{ $bgImg = $bgImg.Resize "1200x" | fingerprint }}
<style>
#homepage-hero {
  background-image: url('{{ $bgImg.RelPermalink }}');
  // background-position: 80%;
  // width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.homepage-hero-container {
  text-align: left;

  max-width: 27em;
  margin-left: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: rgb(80, 93, 117, 1);
  border: 2px solid #ddd;
  box-shadow: #666 2px 2px 5px;
  padding: 1em;
  
}
</style>


<section class="section" data-ga-action="Homepage link">  
    <div class="container-hp">
      <div class="columns">
        <div class="column is-full">
          <div
            id="homepage-hero"
            class="hero has-bg-image is-black"
          >
            {{/*  <div class="homepage-hero-container">
                <h1 class="title has-text-white has-text-weight-bold is-size-1 is-size-2-mobile">
                  {{ .Title }}
                </h1>
            </div>  */}}
          </div>
          <h1 class="title has-text-weight-bold has-text-centered is-size-1 is-size-2-mobile has-margin-top">
            {{ .Title }}
          </h1>
          <div>
            <h3 class="has-text-centered is-size-3 is-size-4-mobile block">{{ .Params.tagline }} </h3>
            <div class="has-margin-bottom subtitle has-text-centered">
              <a href="/about">>> Learn more</a>
            </div>
          </div>

        </div>
        <hr />
      </div>

      {{/*  <div class="tile">
        <div class="tile is-parent is-top is-10 is-centered">
          <div class="tile is-child">
            <h2 class="title is-4 is-uppercase has-text-weight-semibold">
              Our projects
            </h2>
            <hr class="is-emphatic-underline has-margin-top-negative">
          </div>
        </div>
      </div>  */}}
      
      <div class="columns is-centered">
        {{ range $data := first 1 $projects }}
          {{ $project := newScratch }}
          {{ $project.Set "url" .Params.url }}
          {{ $project.Set "title" .Params.title }}
          {{ $project.Set "logotype" .Params.logotype }}
          {{ $project.Set "subtitle" .Params.subtitle }}
          {{ $project.Set "content" .Content}}
          {{ printf "img/projects/%s.%s" .Params.logoslug .Params.logotype | $project.Set "logoslug" }}
          {{ partial "project-banner-homepage-featured.html" $project }} 
        {{ end }}
      </div>

      <!-- More projects section -->
      {{/*  <div style="display: flex; flex-wrap: wrap; justify-content: center;">  */}}
      <div class="columns is-centered">
        <div class="columns is-multiline column is-two-thirds">
          {{ if gt (len $projects) 1 }}
            {{ range $project := after 1 $projects }}
              {{ $project := newScratch }}
              {{ $project.Set "url" .Params.url }}
              {{ $project.Set "title" .Params.title }}
              {{ $project.Set "subtitle" .Params.subtitle }}
              {{ $project.Set "logotype" .Params.logotype }}
              {{ printf "img/projects/%s.%s" .Params.logoslug .Params.logotype | $project.Set "logo" }}
              <hr />
              {{ partial "project-banner-homepage-non-featured.html" $project }}
            {{ end }}
          {{ end }}
        </div>
      </div>

    </div>
  </div>

  <hr />
  <div class="has-text-grey has-text-right">
    Header photos: Eric Dietrich; Adobe Stock; Marc Moss
  </div>

</section>
