{{ $src := .src }}
{{ $id := .id }}

<figure>
    <div id="pym_{{ $id }}" data-src="{{ $src }}" class="pym-holder"></div>
</figure>

<script>
    var id = "{{ safeJS $id }}"
    var src = "{{ safeJS $src }}"

    if (typeof pymParents == "undefined") var pymParents = [];
    pymParents.push(new pym.Parent('pym_' + id, src, {
        id: 'pym-iframe'
    }));
    
    // Make sure iframes on page stay in sync
    // Addresses https://stackoverflow.com/questions/57918429/bulma-css-framework-adds-iframe-height-auto-and-embedded-youtube-videos-get-le
    setInterval(function(){
        pymParents.forEach(function(parent){
            var iframe = parent.iframe
            iframe.style.height = iframe.getAttribute('height')
        });
    }, 200);
</script>

<!-- Pym.js made available at site level via partials/main.html -->
